header
{
	border: 1px solid black;
	background-color: #7f8274;
	border-color:#7f8274 ;
	color: whitesmoke;
	margin: 0px;
	padding: 20px;
	font-size: 30px;
	font-style: Georgia;
}
section,div
{
	display: grid;
	grid-template-columns: 30% 70%;
}

div
{
	display: grid;
	grid-template-columns: repeat(7 , 1fr);
}


.service:hover
{

	color: rgb(0,200,40);
}

article:hover
{
	color: palevioletred;
	border: 1px solid white;
	margin: 2px;
}
.facility
{
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	list-style: none;
	font-size: larger;
}

.row1
{
	border: 2px solid white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
}
.image1
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width:33.3%;
	width: 50vh;
	height: 300px;
	border: 20px solid white;
	margin: 20px;
	padding: 20px;
	padding-left: 40px;
}
.row2
{
	border: 2px solid white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
}
.image2
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width:33.3%;
	width: 50vh;
	height: 300px;
	border: 20px solid white;
	margin: 20px;
	padding: 20px;
	padding-left: 40px;
}
.row3
{
	border: 2px solid white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
}
.image3
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width:33.3%;
	width: 50vh;
	height: 300px;
	border: 20px solid white;
	margin: 20px;
	padding: 20px;
	padding-left: 40px;
}
.row4
{
	border: 2px solid white;
	display: grid;
	grid-template-columns: repeat(3, 1fr);	
}
.image4
{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width:33.3%;
	width: 50vh;
	height: 300px;
	border: 20px solid white;
	margin: 20px;
	padding: 20px;
	padding-left: 40px;
}
footer
{
	background-image: url("https://i.pinimg.com/originals/55/a9/f7/55a9f721ceed01c53ce085476b468454.jpg");	
	background-size: 100%;
	background-color: #7f8274;
	border-color:#7f8274 ;
	color: whitesmoke;
	height: 500px;
	color: black;
	display:grid ;
	text-decoration: none;
	grid-template-columns: repeat(4, 1fr);
	font-size: 20px;
}

.foothead
{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	font-size:20px;
	text-decoration: none;
	font-size: large;
}
a{
	text-decoration: none;
}

.footlist
{
	list-style: none;
	font-style: none;
	text-decoration: none;
}

