header {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #343a40;
    
}
.menus {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    list-style: none;
}

.menuname{
    color: whitesmoke;
}

.secondlink{
    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    list-style: none;
    color: black;
    padding-top: 5px;
    font-size: large ;
}
.services:hover
{
    color: black;
    border: 1px solid pink;
    border-radius: 30px;
    padding: 10px;
    background-color: pink;
}


a {
    text-decoration: none;
    
    
}
.images
{
    
    width: 200;
    height: 300px;
    border: 5px solid white;
    padding-left: 50px;
    padding-bottom: 30px;
    padding-top: 20px;
}
#gridimages
{
    display:grid ;
    grid-template-columns: repeat(3, 1fr);
    border: 3px solid white;
    width: 100%;
}

footer
{
    background-image: url("https://i.pinimg.com/originals/55/a9/f7/55a9f721ceed01c53ce085476b468454.jpg");	
    background-size: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;
}
li
{
    list-style: none;
}
.copyright{
    padding-left: 70px;
}

